{% extends 'base.html.twig' %}

{% block title %}Lien de Réinitialisation Invalide{% endblock %}

{% block content %}
<section class="page-section bg-light mt-5" id="password-reset-invalid">
    <div class="container">
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Lien de Réinitialisation Invalide</h2>

        <!-- Ligne de séparation avec icône -->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="fas fa-exclamation-triangle"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>

        <div class="alert alert-danger text-center">
            <p>Le lien de réinitialisation est invalide ou a expiré. Veuillez <a href="/password-reset-request">demander un nouveau lien de réinitialisation</a>.</p>
        </div>
    </div>
</section>
{% endblock %}
